*{
    margin: 3px;
    padding: 4px;
    background-color: rgb(249, 241, 255)
}

.main{
    font-family: Perpetua;
    color: darkslategrey;
}

.sub-main{
    font-family: Perpetua;
    color: rgb(6, 117, 43);
}

.who{
    font-family: Ink Free;
}

.who-ul{
    font-family: Consolas;
}